
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #cecece;
    
}

header{
    width: 100%;
    background-color: white;
}
h1{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
}
/* fine header */

main{
    background-color: white;
    margin: 30px auto;
    width: 80%;
    height:50px ;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}
button{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #cecece;
}
.blue{
    background-color: rgb(165, 172, 241);
}
li{
    margin-top:15px; 
    list-style: none;
    
}

.margin-top{
    margin-top: 30px;
}
h2{
    display: inline-block;
    
}
.check-ok{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
}
.check-no{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
}

.bold{
    font-weight: bolder;
    font-size: 20px;;
}
.editorial{
    background-color:rgb(165, 172, 241) ;
    border: 1px solid rgb(165, 172, 241);
    border-radius: 10px;
    padding: 5px;
    color:white;
}
.goal{
    background-color: blueviolet;
    border: 1px border blueviolet;
    border-radius: 10px;
    padding: 5px;
    color:white;
}

.recruiting{
    background-color: green;
    border: 1px border green;
    border-radius: 10px;
    padding: 5px;
    color:white;
}
.mobile{
    background-color: orange;
    border: 1px border orange;
    border-radius: 10px;
    padding: 5px;
    color:white;
}
}
